{
  "env": {
    "node": true,
    "jest": true,
  },
  "extends": "airbnb-base",
  "rules": {
    "semi": ["error", "never"],
    "no-console": 0,
    "global-require": 0
  },
  "globals": {
    "Game": false,
    "Memory": false,
    "StructureSpawn": false,
    "WORK": false,
    "CARRY": false,
    "MOVE": false,
    "FIND_SOURCES": false,
    "ERR_NOT_IN_RANGE": false,
    "FIND_STRUCTURES": false,
    "STRUCTURE_EXTENSION": false,
    "STRUCTURE_SPAWN": false,
    "RESOURCE_ENERGY": false,
    "FIND_CONSTRUCTION_SITES": false,
    "LOOK_SOURCES": false,
    "LOOK_TERRAIN": false,
    "OK": false,
    "STRUCTURE_CONTAINER": false,
    "LOOK_CONSTRUCTION_SITES": false,
    "LOOK_STRUCTURES": false,
    "ERR_NOT_ENOUGH_ENERGY": false,
    "STRUCTURE_WALL": false,
    "FIND_SOURCES_ACTIVE": false,
    "_": false,
  }
}
