{
  "env": {
      "node": true
  },
  "extends": "airbnb-base",
  "rules": {
    "semi": ["error", "never"],
    "no-console": 0,
    "global-require": 0,
  },
  "globals": {
    "Game": false,
    "Memory": false,
    "WORK": false,
    "CARRY": false,
    "MOVE": false
  }
}
